
.header__container {
    --backgroud-color: rgb(255, 251, 235);
    background-color: var(--backgroud-color);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
}

/* used to center the header and give it a max width */
.header__secondary-container {
    display: flex;
    width: 100%;
    max-width: calc(var(--large-screensize) * 1.5);
    margin: auto;
}

/* contains the side menu, hamburger button and background fade */
.header__sidebar {
    display: var(--display-none-large, block);
}

.header__hamburger {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.75rem;
    fill: gray;
    cursor: pointer;
}

/* contains the side menu */
.header__col {
    box-shadow: 5px 0 10px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    transition: left 300ms;
    transition-timing-function: ease-in-out;
    width: 14rem;
    height: 100%;
    left: -14rem;
    top: 0rem;
    display: flex;
    flex-direction: column;
    background-color: var(--backgroud-color);
    z-index: 50;
}

.header__sidebar:focus-within .header__col {
    left: 0;
}

/* used to fade the background to dark */
.header__sidebar::after {
    content: "";
    z-index: 10;
    pointer-events: none;
    transition-property: opacity;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    background-color: black;
    opacity: 0;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.header__sidebar:focus-within::after {
    opacity: 0.3;
    pointer-events: all;
}

.header__title {
    font-size: 2rem;
    padding: 0.5rem;
    margin: unset;
    font-weight: inherit;
}

.header__title--row {
    flex-grow: 1;
}

.header__link {
    font-size: 1.5rem;
    padding: 0.75rem 1rem;
    transition-property: background-color;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    text-decoration: none;
    color: inherit;
}

.header__link:hover {
    background-color: rgb(253, 230, 138);
}

.header__link--row {
    display: var(--display-block-large, none);
}