
.content-col {
    transition: left 300ms;
}

.sidebar:hover .content-col,
.sidebar:focus-within .content-col {
    left: 0;
}

.sidebar:hover + .backgroud-fade,
.sidebar:focus-within + .backgroud-fade {
    opacity: 0.5;
}
