
@media (max-width: 768px) {
    .content-col {
        left: -60px;
        transition: left 300ms;
        transition-timing-function: ease-in-out;
        top: 0px;
    }

    .sidebar:hover .content-col,
    .sidebar:focus-within .content-col,
    .sidebar .content-col:hover {
        left: 0;
    }

    .content-row {
        display: none;
    }
}

@media (min-width: 768px) {
    .sidebar {
        display: none;
    }
}
