.index-page__main {
    display: flex;
    margin: auto;
    height: 100%;
    width: 100%;
    max-width: calc(var(--large-screensize) * 1.5);
}

.index-page__selectors {
    display: grid;

    /* TODO switch from row to cols */
    grid-template-rows: repeat(4, auto);
    justify-content: center;
    width: 100%;
}