:root {
    font-size: medium;
    line-height: inherit;
    --large-screensize: 900px;
}

@media screen and (min-width: 900px) {
    :root {
        font-size: x-large;
        --display-block-large: block;
        --display-none-large: none;
    }
}

button {
    border-width: 0rem;
    background-color: unset;
    padding: unset;
}